In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
caminho_names = "/content/drive/MyDrive/CIENCIA-DADOS/btp517_Supplementary_Data/bioinf-2009-0193-File013.xls"

In [ ]:
caminho_todo = '/content/drive/MyDrive/CIENCIA-DADOS/btp517_Supplementary_Data/txt-bioinf-2009-0193-File021.txt'

In [ ]:
!pip install --upgrade pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
pip install --upgrade pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd

In [ ]:
arquivo_names= pd.read_excel(caminho_names)

In [ ]:
arquivo_todo = pd.read_table(caminho_todo)

In [ ]:
names = arquivo_names['Table S4. The Kino-Phosphatome Network, consisting of only known interactions between human protein kinases and phosphatases.']

In [ ]:
print(len(names))

549

In [ ]:
arquivo_todo.columns = ['name', 'desc', 'target']

In [ ]:
print(len(arquivo_todo))

84775

In [ ]:
arquvivo_filtrado = pd.DataFrame(columns=['name', 'desc', 'target'])

In [ ]:
names = names.tolist()

In [ ]:
print(len(names))

549

In [ ]:
filtro_target1 = arquivo_todo.loc[arquivo_todo['target'].isin(names)]

In [ ]:
filtro_names2 = filtro_target1.loc[filtro_target1['name'].isin(names)]

In [ ]:
filtro_names2

         name desc   target
44      IKBKB   pp  MAP3K11
45      IKBKB   pp    PRKCQ
46      IKBKB   pp   MAP4K4
55      IKBKB   pp     CHUK
57      IKBKB   pp  EIF2AK2
...       ...  ...      ...
84738  TGFBR1   pp    MKNK2
84739  TGFBR1   pp    CDKL1
84746  TGFBR1   pp      BCR
84751  TGFBR1   pp   TSSK1B
84752  TGFBR1   pp    TSSK4

[3777 rows x 3 columns]

In [ ]:
filtro_names = arquivo_todo.loc[arquivo_todo['name'].isin(names)]

In [ ]:
filtro_target = filtro_names.loc[filtro_names['target'].isin(names)]

In [ ]:
filtro_target

         name desc   target
44      IKBKB   pp  MAP3K11
45      IKBKB   pp    PRKCQ
46      IKBKB   pp   MAP4K4
55      IKBKB   pp     CHUK
57      IKBKB   pp  EIF2AK2
...       ...  ...      ...
84738  TGFBR1   pp    MKNK2
84739  TGFBR1   pp    CDKL1
84746  TGFBR1   pp      BCR
84751  TGFBR1   pp   TSSK1B
84752  TGFBR1   pp    TSSK4

[3777 rows x 3 columns]

In [ ]:
filtro_target.to_excel (r'/content/drive/MyDrive/CIENCIA-DADOS/btp517_Supplementary_Data/export_dataframe1.xls', index = False, header=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.